@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
