$primary-color: $black;
$secondary-color: $white;
$third-color: #5d5d5d;

$president-profile-img-width: 200px;
$vicepresident-profile-img-width: 150px;
html,body,#app
{
  height: 100%;
  width: 100%;
  font-family: 'OpenSansRegular' !important;
}
p
{
    font-family: 'OpenSansRegular' !important;
    line-height: 1.2em;
}
th {
    font-weight: bold;
    text-align: -internal-center;
}

.align-c {text-align: center;}
.align-l {text-align: left;}
.align-r {text-align: right;}

.main-header
{
  margin-top: -22px;
  min-height: 235px;
  background: #6c6c6c;
  background-image: url(../img/banner-home.jpg), -moz-linear-gradient(top, #6c6c6c 0%, #8a8a8a 100%);
  background-image: url(../img/banner-home.jpg),-webkit-linear-gradient(top, #6c6c6c 0%,#8a8a8a 100%);
  background-image: url(../img/banner-home.jpg),linear-gradient(to bottom, #6c6c6c 0%,#8a8a8a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c6c6c', endColorstr='#8a8a8a',GradientType=0 ) ,url(../img/banner-home.jpg) no-repeat center center;
  background-position: center center;
  background-repeat: no-repeat;
}
.navbar-nav
{
  padding-top: 10px;
}
.navbar-default{
  height: 65px;
  border-color: $third-color;
}
.navbar-brand > img
{
  height: 35px;
}

.navbar-default .navbar-nav > li > a {
    color: $secondary-color;
}

.navbar-default .navbar-brand {
    color: $secondary-color;
}
.navbar-default .navbar-nav > li > a {
  font-size: 12px;
  font-family: 'OpenSansBold';
}
.nav-tabs>li>a
{
  color: $third-color;
  font-size: 20px;
  font-family: 'OpenSansBold';
}

h2,h3
{
  color: $primary-color;
  font-weight: bold;
  font-family: 'OpenSansExtraBold';
}
h4
{
  color: $primary-color;
  font-weight: bold;
  font-family: 'OpenSansBold';
}

.title
{
  border-bottom: 1px solid $primary-color;
}

.navbar-nav
{
  font-size: 10px;
  font-family: 'OpenSansBold';
}
#wrapper
{
  min-height: 100%;
}

#content
{
  padding-bottom: 156px;
}
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

#footer
{
  position: absolute;
  width: 100%;
  min-height: 100px;
  padding: 20px 80px;
  background: $third-color;
  color: $secondary-color;
  margin-top: -156px;
  clear: both;
  font-size: 12px;
}
#footer-site-map
{
  border-right: 1px solid $secondary-color;
  padding-bottom: 40px;
}
#footer-sponsors
{
  text-align: right;
}

.footer-sponsor-img
{
  margin: 10px 0px;
}
@media(max-width: 768px)
{
  #footer-site-map
  {
    border: 0 !important;
  }

  #footer-sponsors
  {
    text-align: center;
  }

}

.footer-title-head
{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'OpenSansBold';
}

.footer-item>a
{
  color: $secondary-color;
  text-decoration: underline;
}


/* CARDS */
.binomial > div.president
{
  z-index: 99;
  width: $president-profile-img-width;
  display: inline-block;
  position: relative;
  text-align: center;
}

.binomial > div.president:hover > a
{
  display: block;
}
.binomial > div.president > a
{
    display: none;
    z-index: 100;
    color: $primary-color;
    top: 0;
    position: absolute;
    width: $president-profile-img-width;
    height: $president-profile-img-width;
    background: rgba(33, 150, 243, 0.45);
    border-radius: 50%;
    text-decoration: none;
    padding-top: 40%;
}

.binomial > div.president > img
{
  border: 3px solid #000;
}
.binomial > div.president > a > span
{
    z-index: 101;
    font-family: 'OpenSansBold';
    color: $secondary-color;
    font-size: 22px;
}
.binomial > div.vicepresident
{
  margin-left: -35px;
  width: $vicepresident-profile-img-width;
  display: inline-block;
  margin-top: 15px;
}
.binomial > div.vicepresident:hover > a
{
  display: block;
}
.binomial > div.vicepresident > a
{
    display: none;
    z-index: 80;
    color: $primary-color;
    top: 50px;
    position: absolute;
    width: $vicepresident-profile-img-width;
    height: $vicepresident-profile-img-width;
    background: rgba(33, 150, 243, 0.45);
    border-radius: 50%;
    padding-top: 20%;
    padding-left: 10%;
    text-decoration: none;
    text-align: center;
}
.binomial > div.vicepresident > a > span
{
    z-index: 81;
    font-size: 11px;
    font-family: 'OpenSansBold';
    color: $secondary-color;
}

.binomial > div.vicepresident > img
{
  vertical-align: baseline;
}

.binomial > div.president > img
{
  vertical-align: baseline;
}

.tab-pane
{
  padding: 30px;
}
.politics-card
{

  padding: 30px;
  font-family: 'OpenSansRegular';
}
.vicepresident-label > label
{
  color: gray;
  cursor: pointer;
  font-family: 'OpenSansBold';
  text-decoration: underline;
  margin-bottom: 0px;
  width: 100%;
}
.president-label > label
{
  color: $primary-color;
  cursor: pointer;
  font-family: 'OpenSansBold';
  text-decoration: underline;
  margin-bottom: 0px;
  width: 100%;
  line-height: 20px;
  font-size: 20px;
}
.politic-position
{
    margin-top: -5px;
    font-size: 11px;
    font-family: 'OpenSansRegular';
    line-height: 20px;
    font-size: 13px;
}
.political-party-logo
{
  margin: 5px;
}



/* Profile */
.btn-dark
{
  /*background: $primary-color;*/
  background: #3b618a;
  color: $secondary-color;
  margin-bottom: 10px;
}
.btn-dark:hover {color: #6782a0;}

#transparency>div.row>div
{
  padding: 10px;
}
.well-transparency
{
  position:relative;
  padding-bottom: 40px;
}
.well-body
{
  margin-top: 5px;
}
.well-footer
{
  position:absolute; bottom:0;    width: 100%;
  padding-right: 30px;
}
.well-footer>button
{
  font-size: 10px;
  font-family: "OpenSansBold";
}
.well-title
{
    margin-top: -10px;
    text-align: center;
}
.well-card-title{
  font-weight: bold;
  font-family: "OpenSansBold";
}

.sri-table>thead
{
  background: #2196F3;
  color: $white;
}

.profile-description
{
  text-align: justify;
  padding: 10px;
}

.profile-socials > a
{
  margin: 5px 10px;
}

.profile-socials > a > i
{
  color: $primary-color;
}

.share-transaprency > a > i
{
  color: $primary-color;
  font-size: 20px;
}



/* PATRIMONIO */
.patrimonial-declaration-icons
{
  text-align: center;
}

.patrimonial-declaration-icons>div>span
{
  color: #3b81c4;
  font-weight: bold;
}

.table-vertical > tbody > tr > td,.table-vertical > tbody > tr > th
{
  border-top: 0;
}

.table-vertical > tbody > tr > th
{
  text-align: right;
}

.table-vertical > tbody > tr > td
{
  text-align: left;
}

.table-vertical > tbody > tr > th
{
  border-right: 1px solid #ddd;
}

.avatar .img-responsive {margin: 0 auto 20px;}
.btn-profile, .profile-redes {margin: 0;}
.profile-afiliacion .row {text-align: center;}

.cd-horizontal-timeline .time-yellow .events a.selected::after {background-color: #eaa200; border-color: #eaa200;}
.cd-horizontal-timeline .time-yellow .events a.older-event::after {border-color: #eaa200;}
.cd-horizontal-timeline .time-yellow .filling-line {background-color: #eaa200}

.cd-horizontal-timeline .time-blue .events a.selected::after {background-color: #0089ea; border-color: #0089ea;}
.cd-horizontal-timeline .time-blue .events a.older-event::after {border-color: #0089ea;}
.cd-horizontal-timeline .time-blue .filling-line {background-color: #0089ea}

.cd-horizontal-timeline .time-red .events a.selected::after {background-color: #bb2b00; border-color: #bb2b00;}
.cd-horizontal-timeline .time-red .events a.older-event::after {border-color: #bb2b00;}
.cd-horizontal-timeline .time-red .filling-line {background-color: #bb2b00}

.cd-horizontal-timeline {margin: 1.4em auto;}
.timeline h4 {margin-top: 0; margin-bottom: 0;}
.cd-horizontal-timeline .timeline {height: 85px;}
.cd-horizontal-timeline .events-wrapper {height: 75%;}

/*.ico-auto {background: url('../img/ico-vivienda-doble.png') no-repeat center top; width: 54px; height: }
.ico-auto:hover {background: url('../img/ico-vivienda-doble.png') no-repeat center bottom;}*/

/*  === RESPONSIVE === */

/*  phones */
@media (max-width: 425px) {
  .btn-profile, .profile-redes {text-align: center;}
  .profile-redes {margin-bottom: 20px;}
  .transparencia-sri, .transparencia-patrimonio {min-height: 680px;}
  .transparencia-superintendencia {min-height: 270px;}
  .transparencia-antecedentes {min-height: 580px;}
  .transparencia-senescyt {min-height: 280px;}
  .transparencia-contraloria {min-height: 200px;}
}
/*  banner */
@media (max-width: 1260px) {
.main-header {background-position: left center;}
}
@media (max-width: 500px) {
.main-header {display: none;}
.title-elecciones h2 {margin-top: 0;}
}
/*  politicos cards */
@media (max-width: 992px) {
.politics-card .row .col-md-10 {width: 350px; margin: 0 auto;}
}


/*-------------------------------------------------------------TOOLTIPS*/

/*! Hint.css - v2.4.1 - 2016-11-08
* http://kushagragour.in/lab/hint/
* Copyright (c) 2016 Kushagra Gour */

/*-------------------------------------*  HINT.css - A CSS tooltip library
\*-------------------------------------*/
/**
 * HINT.css is a tooltip library made in pure CSS.
 *
 * Source: https://github.com/chinchang/hint.css
 * Demo: http://kushagragour.in/lab/hint/
 *
 * Release under The MIT License
 *
 */
/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 *  1) body (:after)
 *  2) arrow (:before)
 *
 * Classes added:
 *  1) hint
 */
[class*="hint--"] {
  position: relative;
  display: inline-block;
  /**
   * tooltip arrow
   */
  /**
   * tooltip body
   */ }
  [class*="hint--"]:before, [class*="hint--"]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    transition-delay: 0ms; }
  [class*="hint--"]:hover:before, [class*="hint--"]:hover:after {
    visibility: visible;
    opacity: 1; }
  [class*="hint--"]:hover:before, [class*="hint--"]:hover:after {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms; }
  [class*="hint--"]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001; }
  [class*="hint--"]:after {
    background: #383838;
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 12px;
    white-space: nowrap; }
  [class*="hint--"][aria-label]:after {
    content: attr(aria-label); }
  [class*="hint--"][data-hint]:after {
    content: attr(data-hint); }

[aria-label='']:before, [aria-label='']:after,
[data-hint='']:before,
[data-hint='']:after {
  display: none !important; }

/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 *
 * Classes added:
 *  1) hint--top
 *  2) hint--bottom
 *  3) hint--left
 *  4) hint--right
 */
/**
 * set default color for tooltip arrows
 */
.hint--top-left:before {
  border-top-color: #383838; }

.hint--top-right:before {
  border-top-color: #383838; }

.hint--top:before {
  border-top-color: #383838; }

.hint--bottom-left:before {
  border-bottom-color: #383838; }

.hint--bottom-right:before {
  border-bottom-color: #383838; }

.hint--bottom:before {
  border-bottom-color: #383838; }

.hint--left:before {
  border-left-color: #383838; }

.hint--right:before {
  border-right-color: #383838; }

/**
 * top tooltip
 */
.hint--top:before {
  margin-bottom: -11px; }

.hint--top:before, .hint--top:after {
  bottom: 100%;
  left: 50%; }

.hint--top:before {
  left: calc(50% - 6px); }

.hint--top:after {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%); }

.hint--top:hover:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

.hint--top:hover:after {
  -webkit-transform: translateX(-50%) translateY(-8px);
  -moz-transform: translateX(-50%) translateY(-8px);
  transform: translateX(-50%) translateY(-8px); }

/**
 * bottom tooltip
 */
.hint--bottom:before {
  margin-top: -11px; }

.hint--bottom:before, .hint--bottom:after {
  top: 100%;
  left: 50%; }

.hint--bottom:before {
  left: calc(50% - 6px); }

.hint--bottom:after {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%); }

.hint--bottom:hover:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }

.hint--bottom:hover:after {
  -webkit-transform: translateX(-50%) translateY(8px);
  -moz-transform: translateX(-50%) translateY(8px);
  transform: translateX(-50%) translateY(8px); }

/**
 * right tooltip
 */
.hint--right:before {
  margin-left: -11px;
  margin-bottom: -6px; }

.hint--right:after {
  margin-bottom: -14px; }

.hint--right:before, .hint--right:after {
  left: 100%;
  bottom: 50%; }

.hint--right:hover:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px); }

.hint--right:hover:after {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px); }

/**
 * left tooltip
 */
.hint--left:before {
  margin-right: -11px;
  margin-bottom: -6px; }

.hint--left:after {
  margin-bottom: -14px; }

.hint--left:before, .hint--left:after {
  right: 100%;
  bottom: 50%; }

.hint--left:hover:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px); }

.hint--left:hover:after {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px); }

/**
 * top-left tooltip
 */
.hint--top-left:before {
  margin-bottom: -11px; }

.hint--top-left:before, .hint--top-left:after {
  bottom: 100%;
  left: 50%; }

.hint--top-left:before {
  left: calc(50% - 6px); }

.hint--top-left:after {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%); }

.hint--top-left:after {
  margin-left: 12px; }

.hint--top-left:hover:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

.hint--top-left:hover:after {
  -webkit-transform: translateX(-100%) translateY(-8px);
  -moz-transform: translateX(-100%) translateY(-8px);
  transform: translateX(-100%) translateY(-8px); }

/**
 * top-right tooltip
 */
.hint--top-right:before {
  margin-bottom: -11px; }

.hint--top-right:before, .hint--top-right:after {
  bottom: 100%;
  left: 50%; }

.hint--top-right:before {
  left: calc(50% - 6px); }

.hint--top-right:after {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0); }

.hint--top-right:after {
  margin-left: -12px; }

.hint--top-right:hover:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

.hint--top-right:hover:after {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

/**
 * bottom-left tooltip
 */
.hint--bottom-left:before {
  margin-top: -11px; }

.hint--bottom-left:before, .hint--bottom-left:after {
  top: 100%;
  left: 50%; }

.hint--bottom-left:before {
  left: calc(50% - 6px); }

.hint--bottom-left:after {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%); }

.hint--bottom-left:after {
  margin-left: 12px; }

.hint--bottom-left:hover:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }

.hint--bottom-left:hover:after {
  -webkit-transform: translateX(-100%) translateY(8px);
  -moz-transform: translateX(-100%) translateY(8px);
  transform: translateX(-100%) translateY(8px); }

/**
 * bottom-right tooltip
 */
.hint--bottom-right:before {
  margin-top: -11px; }

.hint--bottom-right:before, .hint--bottom-right:after {
  top: 100%;
  left: 50%; }

.hint--bottom-right:before {
  left: calc(50% - 6px); }

.hint--bottom-right:after {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0); }

.hint--bottom-right:after {
  margin-left: -12px; }

.hint--bottom-right:hover:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }

.hint--bottom-right:hover:after {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }

/**
 * source: hint-sizes.scss
 *
 * Defines width restricted tooltips that can span
 * across multiple lines.
 *
 * Classes added:
 *  1) hint--small
 *  2) hint--medium
 *  3) hint--large
 *
 */
.hint--small:after,
.hint--medium:after,
.hint--large:after {
  white-space: normal;
  line-height: 1.4em;
  word-wrap: break-word; }

.hint--small:after {
  width: 80px; }

.hint--medium:after {
  width: 150px; }

.hint--large:after {
  width: 300px; }

/**
 * source: hint-theme.scss
 *
 * Defines basic theme for tooltips.
 *
 */
[class*="hint--"] {
  /**
   * tooltip body
   */ }
  [class*="hint--"]:after {
    text-shadow: 0 -1px 0px black;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); }

/**
 * source: hint-color-types.scss
 *
 * Contains tooltips of various types based on color differences.
 *
 * Classes added:
 *  1) hint--error
 *  2) hint--warning
 *  3) hint--info
 *  4) hint--success
 *
 */
/**
 * Error
 */
.hint--error:after {
  background-color: #b34e4d;
  text-shadow: 0 -1px 0px #592726; }

.hint--error.hint--top-left:before {
  border-top-color: #b34e4d; }

.hint--error.hint--top-right:before {
  border-top-color: #b34e4d; }

.hint--error.hint--top:before {
  border-top-color: #b34e4d; }

.hint--error.hint--bottom-left:before {
  border-bottom-color: #b34e4d; }

.hint--error.hint--bottom-right:before {
  border-bottom-color: #b34e4d; }

.hint--error.hint--bottom:before {
  border-bottom-color: #b34e4d; }

.hint--error.hint--left:before {
  border-left-color: #b34e4d; }

.hint--error.hint--right:before {
  border-right-color: #b34e4d; }

/**
 * Warning
 */
.hint--warning:after {
  background-color: #c09854;
  text-shadow: 0 -1px 0px #6c5328; }

.hint--warning.hint--top-left:before {
  border-top-color: #c09854; }

.hint--warning.hint--top-right:before {
  border-top-color: #c09854; }

.hint--warning.hint--top:before {
  border-top-color: #c09854; }

.hint--warning.hint--bottom-left:before {
  border-bottom-color: #c09854; }

.hint--warning.hint--bottom-right:before {
  border-bottom-color: #c09854; }

.hint--warning.hint--bottom:before {
  border-bottom-color: #c09854; }

.hint--warning.hint--left:before {
  border-left-color: #c09854; }

.hint--warning.hint--right:before {
  border-right-color: #c09854; }

/**
 * Info
 */
.hint--info:after {
  background-color: #3986ac;
  text-shadow: 0 -1px 0px #1a3c4d; }

.hint--info.hint--top-left:before {
  border-top-color: #3986ac; }

.hint--info.hint--top-right:before {
  border-top-color: #3986ac; }

.hint--info.hint--top:before {
  border-top-color: #3986ac; }

.hint--info.hint--bottom-left:before {
  border-bottom-color: #3986ac; }

.hint--info.hint--bottom-right:before {
  border-bottom-color: #3986ac; }

.hint--info.hint--bottom:before {
  border-bottom-color: #3986ac; }

.hint--info.hint--left:before {
  border-left-color: #3986ac; }

.hint--info.hint--right:before {
  border-right-color: #3986ac; }

/**
 * Success
 */
.hint--success:after {
  background-color: #458746;
  text-shadow: 0 -1px 0px #1a321a; }

.hint--success.hint--top-left:before {
  border-top-color: #458746; }

.hint--success.hint--top-right:before {
  border-top-color: #458746; }

.hint--success.hint--top:before {
  border-top-color: #458746; }

.hint--success.hint--bottom-left:before {
  border-bottom-color: #458746; }

.hint--success.hint--bottom-right:before {
  border-bottom-color: #458746; }

.hint--success.hint--bottom:before {
  border-bottom-color: #458746; }

.hint--success.hint--left:before {
  border-left-color: #458746; }

.hint--success.hint--right:before {
  border-right-color: #458746; }

/**
 * source: hint-always.scss
 *
 * Defines a persisted tooltip which shows always.
 *
 * Classes added:
 *  1) hint--always
 *
 */
.hint--always:after, .hint--always:before {
  opacity: 1;
  visibility: visible; }

.hint--always.hint--top:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

.hint--always.hint--top:after {
  -webkit-transform: translateX(-50%) translateY(-8px);
  -moz-transform: translateX(-50%) translateY(-8px);
  transform: translateX(-50%) translateY(-8px); }

.hint--always.hint--top-left:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

.hint--always.hint--top-left:after {
  -webkit-transform: translateX(-100%) translateY(-8px);
  -moz-transform: translateX(-100%) translateY(-8px);
  transform: translateX(-100%) translateY(-8px); }

.hint--always.hint--top-right:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

.hint--always.hint--top-right:after {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

.hint--always.hint--bottom:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }

.hint--always.hint--bottom:after {
  -webkit-transform: translateX(-50%) translateY(8px);
  -moz-transform: translateX(-50%) translateY(8px);
  transform: translateX(-50%) translateY(8px); }

.hint--always.hint--bottom-left:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }

.hint--always.hint--bottom-left:after {
  -webkit-transform: translateX(-100%) translateY(8px);
  -moz-transform: translateX(-100%) translateY(8px);
  transform: translateX(-100%) translateY(8px); }

.hint--always.hint--bottom-right:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }

.hint--always.hint--bottom-right:after {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  transform: translateY(8px); }

.hint--always.hint--left:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px); }

.hint--always.hint--left:after {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  transform: translateX(-8px); }

.hint--always.hint--right:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px); }

.hint--always.hint--right:after {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  transform: translateX(8px); }

/**
 * source: hint-rounded.scss
 *
 * Defines rounded corner tooltips.
 *
 * Classes added:
 *  1) hint--rounded
 *
 */
.hint--rounded:after {
  border-radius: 4px; }

/**
 * source: hint-effects.scss
 *
 * Defines various transition effects for the tooltips.
 *
 * Classes added:
 *  1) hint--no-animate
 *  2) hint--bounce
 *
 */
.hint--no-animate:before, .hint--no-animate:after {
  -webkit-transition-duration: 0ms;
  -moz-transition-duration: 0ms;
  transition-duration: 0ms; }

.hint--bounce:before, .hint--bounce:after {
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.3s ease, visibility 0.3s ease, -moz-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24); }
