$primary-color: $black;
$secondary-color: $white;
$third-color: #5d5d5d;

$president-profile-img-width: 200px;
$vicepresident-profile-img-width: 150px;
html,body,#app
{
  height: 100%;
  width: 100%;
  font-family: 'OpenSansRegular' !important;
}
p
{
    font-family: 'OpenSansRegular' !important;
    line-height: 1.2em;
}
th {
    font-weight: bold;
    text-align: -internal-center;
}

.align-c {text-align: center;}
.align-l {text-align: left;}
.align-r {text-align: right;}

.main-header
{
  margin-top: -22px;
  min-height: 235px;
  background: #6c6c6c;
  background-image: url(../img/banner-home.jpg), -moz-linear-gradient(top, #6c6c6c 0%, #8a8a8a 100%);
  background-image: url(../img/banner-home.jpg),-webkit-linear-gradient(top, #6c6c6c 0%,#8a8a8a 100%);
  background-image: url(../img/banner-home.jpg),linear-gradient(to bottom, #6c6c6c 0%,#8a8a8a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c6c6c', endColorstr='#8a8a8a',GradientType=0 ) ,url(../img/banner-home.jpg) no-repeat center center;
  background-position: center center;
  background-repeat: no-repeat;
}
.navbar-nav
{
  padding-top: 10px;
}
.navbar-default{
  height: 65px;
  border-color: $third-color;
}
.navbar-brand > img
{
  height: 35px;
}

.navbar-default .navbar-nav > li > a {
    color: $secondary-color;
}

.navbar-default .navbar-brand {
    color: $secondary-color;
}
.navbar-default .navbar-nav > li > a {
  font-size: 12px;
  font-family: 'OpenSansBold';
}
.nav-tabs>li>a
{
  color: $third-color;
  font-size: 20px;
  font-family: 'OpenSansBold';
}

h2,h3
{
  color: $primary-color;
  font-weight: bold;
  font-family: 'OpenSansExtraBold';
}
h4
{
  color: $primary-color;
  font-weight: bold;
  font-family: 'OpenSansBold';
}

.title
{
  border-bottom: 1px solid $primary-color;
}

.navbar-nav
{
  font-size: 10px;
  font-family: 'OpenSansBold';
}
#wrapper
{
  min-height: 100%;
}

#content
{
  padding-bottom: 156px;
}
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

#footer
{
  position: absolute;
  width: 100%;
  min-height: 100px;
  padding: 20px 80px;
  background: $third-color;
  color: $secondary-color;
  margin-top: -156px;
  clear: both;
  font-size: 12px;
}
#footer-site-map
{
  border-right: 1px solid $secondary-color;
  padding-bottom: 40px;
}
#footer-sponsors
{
  text-align: right;
}

.footer-sponsor-img
{
  margin: 10px 0px;
}
@media(max-width: 768px)
{
  #footer-site-map
  {
    border: 0 !important;
  }

  #footer-sponsors
  {
    text-align: center;
  }

}

.footer-title-head
{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'OpenSansBold';
}

.footer-item>a
{
  color: $secondary-color;
  text-decoration: underline;
}


/* CARDS */
.binomial > div.president
{
  z-index: 99;
  width: $president-profile-img-width;
  display: inline-block;
  position: relative;
  text-align: center;
}

.binomial > div.president:hover > a
{
  display: block;
}
.binomial > div.president > a
{
    display: none;
    z-index: 100;
    color: $primary-color;
    top: 0;
    position: absolute;
    width: $president-profile-img-width;
    height: $president-profile-img-width;
    background: rgba(33, 150, 243, 0.45);
    border-radius: 50%;
    text-decoration: none;
    padding-top: 40%;
}

.binomial > div.president > img
{
  border: 3px solid #000;
}
.binomial > div.president > a > span
{
    z-index: 101;
    font-family: 'OpenSansBold';
    color: $secondary-color;
    font-size: 22px;
}
.binomial > div.vicepresident
{
  margin-left: -35px;
  width: $vicepresident-profile-img-width;
  display: inline-block;
  margin-top: 15px;
}
.binomial > div.vicepresident:hover > a
{
  display: block;
}
.binomial > div.vicepresident > a
{
    display: none;
    z-index: 80;
    color: $primary-color;
    top: 50px;
    position: absolute;
    width: $vicepresident-profile-img-width;
    height: $vicepresident-profile-img-width;
    background: rgba(33, 150, 243, 0.45);
    border-radius: 50%;
    padding-top: 20%;
    padding-left: 10%;
    text-decoration: none;
    text-align: center;
}
.binomial > div.vicepresident > a > span
{
    z-index: 81;
    font-size: 11px;
    font-family: 'OpenSansBold';
    color: $secondary-color;
}

.binomial > div.vicepresident > img
{
  vertical-align: baseline;
}

.binomial > div.president > img
{
  vertical-align: baseline;
}

.tab-pane
{
  padding: 30px;
}
.politics-card
{

  padding: 30px;
  font-family: 'OpenSansRegular';
}
.vicepresident-label > label
{
  color: gray;
  cursor: pointer;
  font-family: 'OpenSansBold';
  text-decoration: underline;
  margin-bottom: 0px;
  width: 100%;
}
.president-label > label
{
  color: $primary-color;
  cursor: pointer;
  font-family: 'OpenSansBold';
  text-decoration: underline;
  margin-bottom: 0px;
  width: 100%;
  line-height: 20px;
}
.politic-position
{
    margin-top: -5px;
    font-size: 11px;
    font-family: 'OpenSansRegular';
    line-height: 20px;
}
.political-party-logo
{
  margin: 5px;
}



/* Profile */
.btn-dark
{
  background: $primary-color;
  color: $secondary-color;
  margin-bottom: 10px;
}

#transparency>div.row>div
{
  padding: 10px;
}
.well-transparency
{
  position:relative;
  padding-bottom: 40px;
}
.well-body
{
  margin-top: 5px;
}
.well-footer
{
  position:absolute; bottom:0;    width: 100%;
  padding-right: 30px;
}
.well-footer>button
{
  font-size: 10px;
  font-family: "OpenSansBold";
}
.well-title
{
    margin-top: -10px;
    text-align: center;
}
.well-card-title{
  font-weight: bold;
  font-family: "OpenSansBold";
}

.sri-table>thead
{
  background: #2196F3;
  color: $white;
}

.profile-description
{
  text-align: justify;
  padding: 10px;
}

.profile-socials > a
{
  margin: 5px 10px;
}

.profile-socials > a > i
{
  color: $primary-color;
}

.share-transaprency > a > i
{
  color: $primary-color;
  font-size: 20px;
}



/* PATRIMONIO */
.patrimonial-declaration-icons
{
  text-align: center;
}

.patrimonial-declaration-icons>div>span
{
  color: #3b81c4;
  font-weight: bold;
}

.table-vertical > tbody > tr > td,.table-vertical > tbody > tr > th
{
  border-top: 0;
}

.table-vertical > tbody > tr > th
{
  text-align: right;
}

.table-vertical > tbody > tr > td
{
  text-align: left;
}

.table-vertical > tbody > tr > th
{
  border-right: 1px solid #ddd;
}

.avatar .img-responsive {margin: 0 auto 20px;}
.btn-profile, .profile-redes {margin: 0;}
.profile-afiliacion .row {text-align: center;}

/*  === RESPONSIVE === */

/*  phones */
@media (max-width: 425px) {
  .btn-profile, .profile-redes {text-align: center;}
  .profile-redes {margin-bottom: 20px;}
  .transparencia-sri, .transparencia-patrimonio {min-height: 680px;}
  .transparencia-superintendencia {min-height: 270px;}
  .transparencia-antecedentes {min-height: 580px;}
  .transparencia-senescyt {min-height: 280px;}
  .transparencia-contraloria {min-height: 200px;}
}